batchjobs {
	.panel {
		border: 1px solid #cdcdcd;
		height: 100%;
	}
	.left-panel {
		background-color: #cdcdcd;
	}
	.search-input {
		
	}
	.hide-right-panel,.show-right-panel {
		top: 50%;
		position: relative;
		z-index: 9999;
	}
	.hide-right-panel {
		float: left;
	}
	.show-right-panel {
		float: right;
	}
}
