<div class="batchjobs wrapper">
	<div class="row no-gutters">
		<div class="col-2 left-panel panel">
			<div class="row no-gutters"> 
				<input type="search" placeholder="Search..."/>
			</div>
		</div>
		<div class="col-8 middle-container panel">
			Middle Container
			
				<i class="fa fa-chevron-left show-right-panel d-none" aria-hidden="true"></i>
		</div>
		
		
		<div class="col-2 right-panel panel">
				<i class="fa fa-chevron-right hide-right-panel" aria-hidden="true"></i>
			Right Panel	
		</div>
	</div>
</div>
